# System files
*.DS_Store

# .gitignore for the FPGA-src
*.log
*.so
*.history
*.o
*.a

# Vivado output
*.jou
*.log
logs/
.Xil/
clockInfo.txt
*.bit

# Verilator sim
obj_dir/
*.stamp.verilate
*.vcd

# LaTeX
*.out
*.pygtex
*.log
*.aux
*.fls
*.toc
*.fdb_latexmk
*.synctex.gz

*.zip
*.tar.gz

# Utils
Utils/img/*.mem
Utils/img/*.png
